/* =========================== MIDIA QUERIES FOR TABLETS ===========================*/

@media screen and (max-width: 1024px) {
    nav .search-bar{
        display: none;
    }

    nav .profile-area{
        gap: 2rem;
    }

    nav .profile-area button#menu-btn{
        display: inline;
        background: transparent;
        color: var(--color-dark);
    }

    main{
        grid-template-columns: 1fr;
    }

    main aside{
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 3;
        background: var(--color-white);
        width: 22rem;
        height: 100vh;
        box-shadow: 2rem 0 2rem var(--color-primary-light);
        display: none;
        animation: showSidebar 500ms ease forwards;
   }

   @keyframes showSidebar {
       to{
           left: 0;
       }
   }

   main aside button#close-btn{
       display: inline-block;
       width: 3rem;
       height: 3rem;
       position: absolute;
       top: 1rem;
       right: 1rem;
       z-index: 4;
       background: transparent;
       color: var(--color-dark);
   }

   button:hover{
       cursor: pointer;
   }

   main aside .sidebar{
       margin-top: 4rem;
   }

   main aside .updates{
       display: none;
   }

   main section.middle .cards{
       grid-template-columns: 1fr 1fr;
   }

   main canvas{
       margin: 3rem 0 1rem;
   }

   main section.right .recent-transactions{
       margin-top: 3rem;
   }

}

/* =========================== MIDIA QUERIES FOR MOBILE PHONES ===========================*/

@media screen and (max-width: 600px){
    nav.prfile-area{
        gap: 2.6rem;
    }

    nav .profile h5, nav .profile span{
        display: none;
    }
    
    main section.middle .cards{
        grid-template-columns: 1fr;
    }

    main section.middle .fast-payment{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3rem;
        gap: 1.4rem;
    }
}